<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/styles.css">
		<title><%= locals.title %></title>
	</head>
	<body>
        <h1><%= locals.title %></h1>

		<h2>Folders</h2>

		<ul class="folderList">
			<% if (locals.folders) {%> 
                <% folders.forEach(function(f) { %>
                    <li> 
						<div id="nameText <%= f.id %>" style="display: inline;">
							<a href="/folder/view?folder=<%= f.id %>"> <%= f.name %> </a>
						</div>

						<button style="display: inline" id="updateButton <%= f.id %>" onclick="
							document.getElementById('nameText <%= f.id %>').style.display='none',
							document.getElementById('updateButton <%= f.id %>').style.display='none',
							document.getElementById('nameInput <%= f.id %>').style.display='inline',
							document.getElementById('cancelButton <%= f.id %>').style.display='inline'
						" >
							Rename
						</button>

						<form action="/folder/update/<%= f.id %>" method="POST" id="nameInput <%= f.id %>" style="display: none">
							<input type="text" name="folderName" id="folderName" value="<%= f.name %>">
							
							<button type="submit"> Submit </button>
						</form>

						<form action="/folder/delete/<%= f.id %>" method="POST" style="display: inline">
							<button type="submit" onclick="return confirm('Are you sure you want to delete folder <%= f.name %>?');">
								Delete
							</button>
						</form>

						<button id="cancelButton <%= f.id %>" style="display: none;" onclick="
							document.getElementById('nameText <%= f.id %>').style.display='inline',
							document.getElementById('updateButton <%= f.id %>').style.display='inline',
							document.getElementById('nameInput <%= f.id %>').style.display='none',
							document.getElementById('cancelButton <%= f.id %>').style.display='none'
						">Cancel</button>
					</li>
				<% }); %> 
			<% } %>
		</ul>

		<a href="/folder/new">New Folder</a>

		<h2>Unsorted Files</h2>

		<%- include('./partials/listOfFiles', { currentFiles: currentFiles }) %>

		<a href="/file/new">Upload File</a>
	</body>
</html>